<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://scesvendordb.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-bay-011.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>scesvendordb</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$scesvendordb</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SCESPORTALConnectionString1" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:swx94kjzu8.database.windows.net,1433;Initial Catalog=scesvendordb_db;User ID=inagy@swx94kjzu8;Password=Drowssa1" Name="Data Source=tcp:swx94kjzu8.database.windows.net,1433;Initial Catalog=scesvendordb_db;User Id=inagy@swx94kjzu8;Password=Drowssa1" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=eve;Initial Catalog=SCESPORTAL;Persist Security Info=True;User ID=kxusers;Password=k!n3t!cs" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SCESPORTALConnectionString1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=eve;Initial Catalog=SCESPORTAL;Persist Security Info=True;User ID=kxusers;Password=k!n3t!cs" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SCESPORTALConnectionString" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:swx94kjzu8.database.windows.net,1433;Initial Catalog=scesvendordb_db;User ID=inagy@swx94kjzu8;Password=Drowssa1" Name="Data Source=tcp:swx94kjzu8.database.windows.net,1433;Initial Catalog=scesvendordb_db;User Id=inagy@swx94kjzu8;Password=Drowssa1" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=eve;Initial Catalog=SCESPORTAL;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SCESPORTALConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=eve;Initial Catalog=SCESPORTAL;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:swx94kjzu8.database.windows.net,1433;Initial Catalog=scesvendordb_db;User ID=inagy@swx94kjzu8;Password=Drowssa1" Name="Data Source=tcp:swx94kjzu8.database.windows.net,1433;Initial Catalog=scesvendordb_db;User Id=inagy@swx94kjzu8;Password=Drowssa1" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-VendorDatabase-20140429162339.mdf;Initial Catalog=aspnet-VendorDatabase-20140429162339;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-VendorDatabase-20140429162339;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-VendorDatabase-20140429162339.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:swx94kjzu8.database.windows.net,1433;Initial Catalog=scesvendordb_db;User Id=inagy@swx94kjzu8;Password=Drowssa1</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SCESPORTALConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=tcp:swx94kjzu8.database.windows.net,1433;Initial Catalog=scesvendordb_db;User Id=inagy@swx94kjzu8;Password=Drowssa1</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SCESPORTALConnectionString1-Web.config Connection String">
      <ParameterValue>Data Source=tcp:swx94kjzu8.database.windows.net,1433;Initial Catalog=scesvendordb_db;User Id=inagy@swx94kjzu8;Password=Drowssa1</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>